<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="org.hitechr.garobo.console.mapper.JobRecordMapper">

	<resultMap id="JobRecord" type="org.hitechr.garobo.console.model.JobRecord">
			<result property="id" column="id"/>
			<result property="jobName" column="job_name"/>
			<result property="runId" column="runId"/>
			<result property="groupId" column="group_id"/>
			<result property="pid" column="pid"/>
			<result property="serialNum" column="serial_num"/>
			<result property="jobId" column="jobId"/>
			<result property="flowNum" column="flow_num"/>
			<result property="status" column="status"/>
			<result property="execId" column="exec_id"/>
			<result property="command" column="command"/>
			<result property="returnCode" column="returnCode"/>
			<result property="message" column="message"/>
			<result property="parentId" column="parentId"/>
			<result property="redoCount" column="redo_count"/>
			<result property="trigger" column="trigger"/>
			<result property="execType" column="execType"/>
			<result property="execUser" column="execUser"/>
			<result property="weight" column="weight"/>
			<result property="version" column="version"/>
			<result property="startDate" column="start_date"/>
			<result property="endDate" column="end_date"/>
			<result property="insertDate" column="insert_date"/>
			<result property="udateDate" column="udate_date"/>
	</resultMap>
	
	 <sql id="Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition} 
                </when>
                <when test="criterion.singleValue" >
                   and ${criterion.condition} #{criterion.value} 
                </when>
                <when test="criterion.betweenValue" >
					 and ${criterion.condition} #{criterion.value} and #{criterion.secondValue} 
                </when>
                <when test="criterion.listValue" >
                   and ${criterion.condition} 
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem} 
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Update_By_Example_Where_Clause" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                   and ${criterion.condition} 
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value} 
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue} 
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition} 
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                     #{listItem}  
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
		id,
		job_name,
		runId,
		group_id,
		pid,
		serial_num,
		jobId,
		flow_num,
		status,
		exec_id,
		command,
		returnCode,
		message,
		parentId,
		redo_count,
		trigger,
		execType,
		execUser,
		weight,
		version,
		start_date,
		end_date,
		insert_date,
		udate_date
  </sql>
  
  <sql id="Base_Column_List_NOPK" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
		job_name,
		runId,
		group_id,
		pid,
		serial_num,
		jobId,
		flow_num,
		status,
		exec_id,
		command,
		returnCode,
		message,
		parentId,
		redo_count,
		trigger,
		execType,
		execUser,
		weight,
		version,
		start_date,
		end_date,
		insert_date,
		udate_date
  </sql>
  
    <select id="selectByExample" 
		resultMap="JobRecord" parameterType="org.hitechr.garobo.console.model.JobRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
	
	
		
         select
			<if test="distinct" >
			  distinct
			</if>
			<include refid="Base_Column_List" />
			from g_job_record
			<if test="_parameter != null" >
			  <include refid="Example_Where_Clause" />
			</if>
			<if test="orderByClause != null" >
			  order by ${orderByClause} 
			</if>
		

	
   </select>
  
  <select id="selectByPrimaryKey" resultMap="JobRecord" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->

		select 
		<include refid="Base_Column_List" />
		from g_job_record
		 where id = #{id}
	

  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
	<![CDATA[
		delete from g_job_record
		 where id = #{id}
	]]>
  </delete>
  
  
   <delete id="deleteByExample" parameterType="org.hitechr.garobo.console.model.JobRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->

		delete from g_job_record
		<if test="_parameter != null" >
		  <include refid="Example_Where_Clause" />
		</if>
    
   </delete>
  
  
  <insert id="insert" parameterType="org.hitechr.garobo.console.model.JobRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->

    insert into g_job_record 
	( <include refid="Base_Column_List_NOPK" /> )
    values (
			#{jobName} ,
			#{runId} ,
			#{groupId} ,
			#{pid} ,
			#{serialNum} ,
			#{jobId} ,
			#{flowNum} ,
			#{status} ,
			#{execId} ,
			#{command} ,
			#{returnCode} ,
			#{message} ,
			#{parentId} ,
			#{redoCount} ,
			#{trigger} ,
			#{execType} ,
			#{execUser} ,
			#{weight} ,
			#{version} ,
			#{startDate} ,
			#{endDate} ,
			#{insertDate} ,
			#{udateDate} 
      )

  </insert>
  
  <insert id="insertSelective" parameterType="org.hitechr.garobo.console.model.JobRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    insert into g_job_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
	
		<if test="id != null" >id</if> ,
		<if test="jobName != null" >job_name</if> ,
		<if test="runId != null" >runId</if> ,
		<if test="groupId != null" >group_id</if> ,
		<if test="pid != null" >pid</if> ,
		<if test="serialNum != null" >serial_num</if> ,
		<if test="jobId != null" >jobId</if> ,
		<if test="flowNum != null" >flow_num</if> ,
		<if test="status != null" >status</if> ,
		<if test="execId != null" >exec_id</if> ,
		<if test="command != null" >command</if> ,
		<if test="returnCode != null" >returnCode</if> ,
		<if test="message != null" >message</if> ,
		<if test="parentId != null" >parentId</if> ,
		<if test="redoCount != null" >redo_count</if> ,
		<if test="trigger != null" >trigger</if> ,
		<if test="execType != null" >execType</if> ,
		<if test="execUser != null" >execUser</if> ,
		<if test="weight != null" >weight</if> ,
		<if test="version != null" >version</if> ,
		<if test="startDate != null" >start_date</if> ,
		<if test="endDate != null" >end_date</if> ,
		<if test="insertDate != null" >insert_date</if> ,
		<if test="udateDate != null" >udate_date</if> 
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
	  
		<if test="id != null" >#{id}</if>,
		<if test="jobName != null" >#{jobName}</if>,
		<if test="runId != null" >#{runId}</if>,
		<if test="groupId != null" >#{groupId}</if>,
		<if test="pid != null" >#{pid}</if>,
		<if test="serialNum != null" >#{serialNum}</if>,
		<if test="jobId != null" >#{jobId}</if>,
		<if test="flowNum != null" >#{flowNum}</if>,
		<if test="status != null" >#{status}</if>,
		<if test="execId != null" >#{execId}</if>,
		<if test="command != null" >#{command}</if>,
		<if test="returnCode != null" >#{returnCode}</if>,
		<if test="message != null" >#{message}</if>,
		<if test="parentId != null" >#{parentId}</if>,
		<if test="redoCount != null" >#{redoCount}</if>,
		<if test="trigger != null" >#{trigger}</if>,
		<if test="execType != null" >#{execType}</if>,
		<if test="execUser != null" >#{execUser}</if>,
		<if test="weight != null" >#{weight}</if>,
		<if test="version != null" >#{version}</if>,
		<if test="startDate != null" >#{startDate}</if>,
		<if test="endDate != null" >#{endDate}</if>,
		<if test="insertDate != null" >#{insertDate}</if>,
		<if test="udateDate != null" >#{udateDate}</if>
    </trim>
  </insert>
  
  <select id="countByExample" parameterType="org.hitechr.garobo.console.model.JobRecord" resultType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    select count(*) from g_job_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  
  
  <update id="updateByExampleSelective" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update g_job_record
    <set>
		
			<if test="record.job_name != null" >
				job_name = #{jobName} ,
			</if>
			<if test="record.runId != null" >
				runId = #{runId} ,
			</if>
			<if test="record.group_id != null" >
				group_id = #{groupId} ,
			</if>
			<if test="record.pid != null" >
				pid = #{pid} ,
			</if>
			<if test="record.serial_num != null" >
				serial_num = #{serialNum} ,
			</if>
			<if test="record.jobId != null" >
				jobId = #{jobId} ,
			</if>
			<if test="record.flow_num != null" >
				flow_num = #{flowNum} ,
			</if>
			<if test="record.status != null" >
				status = #{status} ,
			</if>
			<if test="record.exec_id != null" >
				exec_id = #{execId} ,
			</if>
			<if test="record.command != null" >
				command = #{command} ,
			</if>
			<if test="record.returnCode != null" >
				returnCode = #{returnCode} ,
			</if>
			<if test="record.message != null" >
				message = #{message} ,
			</if>
			<if test="record.parentId != null" >
				parentId = #{parentId} ,
			</if>
			<if test="record.redo_count != null" >
				redo_count = #{redoCount} ,
			</if>
			<if test="record.trigger != null" >
				trigger = #{trigger} ,
			</if>
			<if test="record.execType != null" >
				execType = #{execType} ,
			</if>
			<if test="record.execUser != null" >
				execUser = #{execUser} ,
			</if>
			<if test="record.weight != null" >
				weight = #{weight} ,
			</if>
			<if test="record.version != null" >
				version = #{version} ,
			</if>
			<if test="record.start_date != null" >
				start_date = #{startDate} ,
			</if>
			<if test="record.end_date != null" >
				end_date = #{endDate} ,
			</if>
			<if test="record.insert_date != null" >
				insert_date = #{insertDate} ,
			</if>
			<if test="record.udate_date != null" >
				udate_date = #{udateDate} 
			</if>
      
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  
  <update id="updateByExample" parameterType="map" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update g_job_record
    set 
		job_name = #{jobName} ,
		runId = #{runId} ,
		group_id = #{groupId} ,
		pid = #{pid} ,
		serial_num = #{serialNum} ,
		jobId = #{jobId} ,
		flow_num = #{flowNum} ,
		status = #{status} ,
		exec_id = #{execId} ,
		command = #{command} ,
		returnCode = #{returnCode} ,
		message = #{message} ,
		parentId = #{parentId} ,
		redo_count = #{redoCount} ,
		trigger = #{trigger} ,
		execType = #{execType} ,
		execUser = #{execUser} ,
		weight = #{weight} ,
		version = #{version} ,
		start_date = #{startDate} ,
		end_date = #{endDate} ,
		insert_date = #{insertDate} ,
		udate_date = #{udateDate} 
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
  <update id="updateByPrimaryKeySelective" parameterType="org.hitechr.garobo.console.model.JobRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update g_job_record
    <set >
		  <if test="job_name != null" >
			job_name = #{jobName} ,
		  </if>
		  <if test="runId != null" >
			runId = #{runId} ,
		  </if>
		  <if test="group_id != null" >
			group_id = #{groupId} ,
		  </if>
		  <if test="pid != null" >
			pid = #{pid} ,
		  </if>
		  <if test="serial_num != null" >
			serial_num = #{serialNum} ,
		  </if>
		  <if test="jobId != null" >
			jobId = #{jobId} ,
		  </if>
		  <if test="flow_num != null" >
			flow_num = #{flowNum} ,
		  </if>
		  <if test="status != null" >
			status = #{status} ,
		  </if>
		  <if test="exec_id != null" >
			exec_id = #{execId} ,
		  </if>
		  <if test="command != null" >
			command = #{command} ,
		  </if>
		  <if test="returnCode != null" >
			returnCode = #{returnCode} ,
		  </if>
		  <if test="message != null" >
			message = #{message} ,
		  </if>
		  <if test="parentId != null" >
			parentId = #{parentId} ,
		  </if>
		  <if test="redo_count != null" >
			redo_count = #{redoCount} ,
		  </if>
		  <if test="trigger != null" >
			trigger = #{trigger} ,
		  </if>
		  <if test="execType != null" >
			execType = #{execType} ,
		  </if>
		  <if test="execUser != null" >
			execUser = #{execUser} ,
		  </if>
		  <if test="weight != null" >
			weight = #{weight} ,
		  </if>
		  <if test="version != null" >
			version = #{version} ,
		  </if>
		  <if test="start_date != null" >
			start_date = #{startDate} ,
		  </if>
		  <if test="end_date != null" >
			end_date = #{endDate} ,
		  </if>
		  <if test="insert_date != null" >
			insert_date = #{insertDate} ,
		  </if>
		  <if test="udate_date != null" >
			udate_date = #{udateDate} 
		  </if>
    </set>
		 where id = #{id} 
  </update>
  
  
  <update id="updateByPrimaryKey" parameterType="org.hitechr.garobo.console.model.JobRecord" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Tue Apr 21 10:36:00 CST 2015.
    -->
    update g_job_record
    set 
	  <if test="job_name != null" >
		job_name = #{jobName} ,
	  </if>
	  <if test="runId != null" >
		runId = #{runId} ,
	  </if>
	  <if test="group_id != null" >
		group_id = #{groupId} ,
	  </if>
	  <if test="pid != null" >
		pid = #{pid} ,
	  </if>
	  <if test="serial_num != null" >
		serial_num = #{serialNum} ,
	  </if>
	  <if test="jobId != null" >
		jobId = #{jobId} ,
	  </if>
	  <if test="flow_num != null" >
		flow_num = #{flowNum} ,
	  </if>
	  <if test="status != null" >
		status = #{status} ,
	  </if>
	  <if test="exec_id != null" >
		exec_id = #{execId} ,
	  </if>
	  <if test="command != null" >
		command = #{command} ,
	  </if>
	  <if test="returnCode != null" >
		returnCode = #{returnCode} ,
	  </if>
	  <if test="message != null" >
		message = #{message} ,
	  </if>
	  <if test="parentId != null" >
		parentId = #{parentId} ,
	  </if>
	  <if test="redo_count != null" >
		redo_count = #{redoCount} ,
	  </if>
	  <if test="trigger != null" >
		trigger = #{trigger} ,
	  </if>
	  <if test="execType != null" >
		execType = #{execType} ,
	  </if>
	  <if test="execUser != null" >
		execUser = #{execUser} ,
	  </if>
	  <if test="weight != null" >
		weight = #{weight} ,
	  </if>
	  <if test="version != null" >
		version = #{version} ,
	  </if>
	  <if test="start_date != null" >
		start_date = #{startDate} ,
	  </if>
	  <if test="end_date != null" >
		end_date = #{endDate} ,
	  </if>
	  <if test="insert_date != null" >
		insert_date = #{insertDate} ,
	  </if>
	  <if test="udate_date != null" >
		udate_date = #{udateDate} 
	  </if>
		 where id = #{id} 
  </update>
</mapper>

