<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >



<!-- 存放手写的sql -->
<mapper namespace="org.hitechr.garobo.console.mapper.ExecuterMapper">


    <update id="clearExecuter" parameterType="map" >
        UPDATE g_executer g
        SET g.status=0,g.port=NULL,g.rid=NULL,g.pid=NULL,g.up_date=NULL
        WHERE g.id=#{id}
    </update>
</mapper>
